/*Float Box*/
.one {
	background-color: #6A85D8;
	width: 50%;
	height: 100px;
	float: left;
}

.two {
	background-color: #D86AAF;
	width: 50%;
	height: 100px;
	float: right;
}

/*Clear Float*/
.clear {
	float: both;
}

/*Bukan Float*/
.three {
	background-color: #6AD896;
	width: 100%;
	height: 200px;
}
