body {
	font-family: sans-serif;

}

/*Navigation Bar*/
.navbar {
	width: 100%;
	height: 65px;
	background-color: #046C7D;
	color: white;
}

.navbar ul {
	list-style-type: none;
	padding-right: 60px;
	padding-top: 10px;
	margin: 0;
	overflow: hidden;
}

.navbar li {
	display: inline;
	float: right;
	margin: 13px;
}

.navbar li a {
	text-decoration: none;
	color: white;
	font-size: 17px;
}

.navbar li a:hover {
	background-color: #30B4C9;
}
/*End of Navigation Bar*/


/*Header */
.header {
	background-color: #1AA5BB;
	width: 100%;
	height: 600px;
}

.header img {
	width: 35%;
	float: right;
	margin: 15px 50px 25px 50px;
}

.header h1 {
	font-size: 45px;
	margin-top: 150px;
	margin-left: 235px;
	position: absolute;
	text-align: left;
	font-size: 50px;
	color: white;
	font-family: Calibri;
}	

.header p {
	font-size: 20px;
	margin-top: 220px;
	margin-left: 237px;
	position: absolute;
	text-align: left;
	font-size: 25px;
	color: white;
	font-family: Calibri;
}

.header button {
	background-color: white;
	color: #046C7D;
	position: absolute;
	margin-top: 210px;
	margin-left: 237px;
}


/*Button*/
.myButton {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color: #ffffff;
	border-radius: 25px;
	border:2px solid #ffffff;
	display: inline-block;
	cursor:pointer;
	color:#0cc7be;
	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 280px;
	margin-left: 237px;
	padding: 7px 26px;
	cursor: pointer;
	position: relative;
}

.myButton:hover {
	background-color: black;
}

.myButton:active {
	position: relative;
	top: 1px;
}

/*Container*/
.container img {
	width: 30px;
	height: 30px;
	padding-left: 100px;	
}

/*End of Header*/

/*Contents*/
.contents img {
	width: 35%;
	clear: both;
	float: left;
	flex-direction: column;
	justify-content: center;
}

.contents h2 {
	font-size: 20px;
	float: center;
}

.contents p {
	float: center;
}
/*End of Contents*/

/*Footer*/
footer {
	background-color: #1AA5BB; 
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: white;
}

footer p {
	text-align: center;
}
/*End of Footer*/